# Contract deployment and verification
DEPLOYER_PRIVATE_KEY=
TREASURY_ADDRESS=
CELOSCAN_API_KEY=   # From https://celoscan.io/myapikey
ALFAJORES_RPC_URL=https://alfajores-forno.celo-testnet.org
CELO_RPC_URL=https://forno.celo.org

# Frontend deployment
NEXT_PUBLIC_CELOSCRIBE_CONTRACT_ADDRESS=
